__pycache__/__main__.cpython-39.pyc
.idea/misc.xml
.idea/modules.xml
.idea/projekt-HAR.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.DS_Store
.idea/.gitignore
.idea
.gitignore
Accelerometer.csv
Gyroscope.csv
Magnetometer.csv
Orientation.csv
__pycache__
user-features/kasper/lab/Untitled.ipynb
user-features/kasper/lab/analizka/guwnio.csv
user-features/coonection.ipynb
user-features/streaming-work-dir/KubaOrientationLezenie/AccelerometerKubaLezenie.csv
user-features/streaming-work-dir/KubaOrientationLezenie/GyroscopeKubaLezenie.csv
user-features/streaming-work-dir/KubaOrientationLezenie/MagnetometerKubaLezenie.csv
user-features/streaming-work-dir/KubaOrientationLezenie2/AccelerometerKubaLezenie2.csv
user-features/streaming-work-dir/KubaOrientationLezenie2/GyroscopeKubaLezenie2.csv
user-features/streaming-work-dir/KubaOrientationLezenie2/MagnetometerKubaLezenie2.csv
user-features/streaming-work-dir/KubaOrientationLezenie3/AccelerometerKubaLezenie3.csv
user-features/streaming-work-dir/KubaOrientationLezenie3/GyroscopeKubaLezenie3.csv
user-features/streaming-work-dir/KubaOrientationLezenie3/MagnetometerKubaLezenie3.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady/AccelerometerKubaPrzysiady.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady/GyroscopeKubaPrzysiady.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady/MagnetometerKubaPrzysiady.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady2/AccelerometerKubaPrzysiady2.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady2/GyroscopeKubaPrzysiady2.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady2/MagnetometerKubaPrzysiady2.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady3/AccelerometerKubaPrzysiady3.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady3/GyroscopeKubaPrzysiady3.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady3/MagnetometerKubaPrzysiady3.csv
user-features/streaming-work-dir/KubaOrientationLezenie/AccelerometerKubaLyingApple.csv
user-features/streaming-work-dir/KubaOrientationLezenie/GyroscopeKubaLyingApple.csv
user-features/streaming-work-dir/KubaOrientationLezenie/MagnetometerKubaLyingApple.csv
user-features/streaming-work-dir/KubaOrientationLezenie2/AccelerometerKubaLying2Apple.csv
user-features/streaming-work-dir/KubaOrientationLezenie2/GyroscopeKubaLying2Apple.csv
user-features/streaming-work-dir/KubaOrientationLezenie2/MagnetometerKubaLying2Apple.csv
user-features/streaming-work-dir/KubaOrientationLezenie3/AccelerometerKubaLying3Apple.csv
user-features/streaming-work-dir/KubaOrientationLezenie3/GyroscopeKubaLying3Apple.csv
user-features/streaming-work-dir/KubaOrientationLezenie3/MagnetometerKubaLying3Apple.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady/AccelerometerKubaSquatsApple.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady/GyroscopeKubaSquatsApple.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady/MagnetometerKubaSquatsApple.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady2/AccelerometerKubaSquats2Apple.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady2/GyroscopeKubaSquats2Apple.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady2/MagnetometerKubaSquats2Apple.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady3/AccelerometerKubaSquats3Apple.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady3/GyroscopeKubaSquats3Apple.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady3/MagnetometerKubaSquats3Apple.csv
user-features/bin.py
csvs/
Archiwum.zip
user-features/kasper
user-features/Michał
user-features/karol 
user-features/wiktor
/user-features/features-sources/kasper/lab/Untitled.ipynb
/user-features/features-sources/kasper/lab/
cipa.ipynb
.gitignore
chuj.ipynb
combined_accelerometer_data.csv
feats_version_3.csv
kuba_balanced.csv
kuba_dataset.csv
rest_balanced.csv
rest_dataset.csv
autoai-ibm/kuba_balanced.csv
autoai-ibm/ml - P1 Notebook.ipynb
autoai-ibm/ml - P2 Notebook.ipynb
autoai-ibm/ml - P3 Notebook.ipynb
autoai-ibm/ml - P4 Notebook.ipynb
autoai-ibm/ml - P5 Notebook.ipynb
autoai-ibm/ml - P6 Notebook.ipynb
autoai-ibm/ml - P7 Notebook.ipynb
autoai-ibm/ml - P8 Notebook.ipynb
autoai-ibm/rest_balanced.csv
user-features/testingpy.py
.gitignore
feats_version_4_acc.csv
feats_version_4_gyr.csv
feats_version_4_mag.csv
feats_version_4.csv
/where2cut/third-run/
/where2cut/fourth-run/
