
__pycache__/__main__.cpython-39.pyc
.idea/misc.xml
.idea/modules.xml
.idea/projekt-HAR.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.DS_Store
.idea/.gitignore
.idea
Accelerometer.csv
Gyroscope.csv
Magnetometer.csv
Orientation.csv
__pycache__
user-features/kasper/lab/Untitled.ipynb
user-features/kasper/lab/analizka/guwnio.csv
user-features/coonection.ipynb
user-features/streaming-work-dir/KubaOrientationLezenie/AccelerometerKubaLezenie.csv
user-features/streaming-work-dir/KubaOrientationLezenie/GyroscopeKubaLezenie.csv
user-features/streaming-work-dir/KubaOrientationLezenie/MagnetometerKubaLezenie.csv
user-features/streaming-work-dir/KubaOrientationLezenie2/AccelerometerKubaLezenie2.csv
user-features/streaming-work-dir/KubaOrientationLezenie2/GyroscopeKubaLezenie2.csv
user-features/streaming-work-dir/KubaOrientationLezenie2/MagnetometerKubaLezenie2.csv
user-features/streaming-work-dir/KubaOrientationLezenie3/AccelerometerKubaLezenie3.csv
user-features/streaming-work-dir/KubaOrientationLezenie3/GyroscopeKubaLezenie3.csv
user-features/streaming-work-dir/KubaOrientationLezenie3/MagnetometerKubaLezenie3.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady/AccelerometerKubaPrzysiady.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady/GyroscopeKubaPrzysiady.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady/MagnetometerKubaPrzysiady.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady2/AccelerometerKubaPrzysiady2.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady2/GyroscopeKubaPrzysiady2.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady2/MagnetometerKubaPrzysiady2.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady3/AccelerometerKubaPrzysiady3.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady3/GyroscopeKubaPrzysiady3.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady3/MagnetometerKubaPrzysiady3.csv
user-features/streaming-work-dir/KubaOrientationLezenie/AccelerometerKubaLyingApple.csv
user-features/streaming-work-dir/KubaOrientationLezenie/GyroscopeKubaLyingApple.csv
user-features/streaming-work-dir/KubaOrientationLezenie/MagnetometerKubaLyingApple.csv
user-features/streaming-work-dir/KubaOrientationLezenie2/AccelerometerKubaLying2Apple.csv
user-features/streaming-work-dir/KubaOrientationLezenie2/GyroscopeKubaLying2Apple.csv
user-features/streaming-work-dir/KubaOrientationLezenie2/MagnetometerKubaLying2Apple.csv
user-features/streaming-work-dir/KubaOrientationLezenie3/AccelerometerKubaLying3Apple.csv
user-features/streaming-work-dir/KubaOrientationLezenie3/GyroscopeKubaLying3Apple.csv
user-features/streaming-work-dir/KubaOrientationLezenie3/MagnetometerKubaLying3Apple.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady/AccelerometerKubaSquatsApple.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady/GyroscopeKubaSquatsApple.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady/MagnetometerKubaSquatsApple.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady2/AccelerometerKubaSquats2Apple.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady2/GyroscopeKubaSquats2Apple.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady2/MagnetometerKubaSquats2Apple.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady3/AccelerometerKubaSquats3Apple.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady3/GyroscopeKubaSquats3Apple.csv
user-features/streaming-work-dir/KubaOrientationPrzysiady3/MagnetometerKubaSquats3Apple.csv
